---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vkrells">
  <main class="lora">
    {/*//*Hero*/}
    <section
      style="background-image:url(https://i.imgur.com/h845pEV.jpg)"
      class="h-[100dvh] min-h-[750px] text-center flex justify-center bg-no-repeat bg-top bg-cover"
    >
      <div
        class="w-full h-full flex flex-col items-center justify-center bg-[#00000091] text-white"
      >
        <div class="-mt-32">
          <h2 class="text-[20px] tracking-widest mb-4">- VEGAN DESSERTS -</h2>
          <h1 class="sm:text-[120px] text-[20vw] leading-none">Vkrells</h1>

          <button
            class="py-[14px] px-[60px] bg-[#756F63] text-center text-white mt-10 text-[16px] poppins leading-none rounded-sm"
          >
            VER MENÚ
          </button>
        </div>
      </div>
    </section>

    {/*//*About*/}
    <section
      class="grid md:grid-cols-2 grid-cols-1 max-w-[1250px] mx-auto py-20 px-4"
    >
      <div
        style="background-image:url(https://i.imgur.com/YUqlx9H.jpeg)"
        class="aspect-[9/12] w-[80%] mx-auto md:mb-0 mb-10 bg-no-repeat bg-top bg-cover rounded-sm"
      >
      </div>

      <div class="flex flex-col justify-center text-center text-[#7C776D]">
        <h2 class="text-[36px]">About us</h2>

        <div class="h-[1px] bg-gray-400 mx-auto w-[15%] mt-4"></div>

        <p class="text-[14px] mt-12 max-w-[500px] mx-auto poppins">
          En VKrells, creemos que el postre no tiene que ser un sacrificio, ni
          para el paladar ni para el planeta. Es por eso que ofrecemos una
          deliciosa variedad de flanes y cheesecakes tanto veganos como no
          veganos, elaborados con ingredientes frescos y de origen local siempre
          que sea posible. Somos un equipo de apasionados por la gastronomía que
          creemos que el buen postre puede ser una experiencia sensorial única.
          Nos encanta experimentar con diferentes sabores y texturas para crear
          postres que sean a la vez deliciosos y satisfactorios.
          <br /><br />
          VKrells es más que una empresa de postres. Es una comunidad de personas
          que aman disfrutar de un buen postre sin culpa. Queremos que nuestros clientes
          se sientan parte de nuestra familia y que disfruten de nuestros postres
          en compañía de sus seres queridos. Te invitamos a visitar nuestra tienda
          o a hacer un pedido a través de nuestro sitio web. Estamos seguros de que
          encontrarás el postre perfecto para ti, sin importar si eres vegano o no.
        </p>
      </div>
    </section>

    {/*//*Banner 1*/}
    <section
      style="background-image:url(https://i.imgur.com/QJxCMyg.jpeg)"
      class="h-[500px] w-full bg-no-repeat bg-bottom bg-cover"
    >
      <div
        class="w-full h-full flex flex-col justify-center items-center bg-[#00000091] text-white"
      >
        <div
          class="leading-none text-center max-w-[675px] text-[32px] mb-4 px-4"
        >
          “Sostenible y responsable, un placer incomparable”
        </div>
        <div class="tracking-wide poppins">- Edgar Espinosa -</div>
      </div>
    </section>

    {/*//*Events*/}
    <section
      class="grid md:grid-cols-2 grid-cols-1 max-w-[1250px] mx-auto py-20 px-4"
    >
      <div
        class="flex flex-col justify-center text-center md:mb-0 mb-10 text-[#7C776D]"
      >
        <h2 class="text-[36px]">Cheesecake</h2>

        <div class="h-[1px] bg-[#b7afa0] mx-auto w-[15%] mt-4"></div>

        <p class="text-[14px] mt-12 max-w-[500px] mx-auto poppins">
          Disfruta de nuestro cheesecake cremoso y delicioso, elaborado con
          ingredientes frescos y de la más alta calidad. Elige entre nuestra
          receta tradicional de Nueva York o atrévete con nuestras innovadoras
          combinaciones de sabores.
        </p>

        <div
          class="text-[16px] underline underline-offset-4 cursor-pointer mt-28"
        >
          VER MÁS ➔
        </div>
      </div>

      <div
        style="background-image:url(https://i.imgur.com/pNdVa4L.jpeg)"
        class="aspect-[9/12] w-[80%] mx-auto bg-no-repeat bg-top bg-cover rounded-sm"
      >
      </div>
    </section>

    {/*//*Banner 2*/}
    <section
      style="background-image:url(https://i.imgur.com/QJxCMyg.jpeg)"
      class="h-[500px] w-full bg-no-repeat bg-top bg-cover"
    >
      <div
        class="w-full h-full flex flex-col justify-center items-center bg-[#00000091] text-white"
      >
        <div
          class="leading-none text-center max-w-[675px] text-[32px] mb-4 px-4"
        >
          “Endulza tu vida y sorprende a tu paladar.”
        </div>
        <div class="tracking-wide poppins">- Julio Madrid -</div>
      </div>
    </section>

    {/*//*Product*/}
    <section
      class="grid md:grid-cols-2 grid-cols-1 max-w-[1250px] mx-auto py-20 px-4"
    >
      <div
        style="background-image:url(https://i.imgur.com/LPFidey.jpeg)"
        class="aspect-[9/12] w-[80%] mx-auto md:mb-0 mb-10 bg-no-repeat bg-top bg-cover rounded-sm"
      >
      </div>

      <div class="flex flex-col justify-center text-center text-[#7C776D]">
        <h2 class="text-[36px]">Flan</h2>

        <div class="h-[1px] bg-[#b7afa0] mx-auto w-[15%] mt-4"></div>

        <p class="text-[14px] mt-12 max-w-[500px] mx-auto poppins">
          Disfruta de nuestro suave y cremoso flan, elaborado con ingredientes
          frescos y de la más alta calidad. Elige entre nuestra receta
          tradicional o atrévete con nuestras innovadoras combinaciones de
          sabores.
        </p>

        <div
          class="text-[16px] underline underline-offset-4 cursor-pointer mt-28"
        >
          VER MÁS ➔
        </div>
      </div>
    </section>

    {/*//*Footer*/}
    <section class="bg-[#f5f3f3] relative text-[#7C776D] py-10 pb-36">
      <div class="mx-auto max-w-[600px] text-center px-4">
        <div class="text-[36px]">Contáctanos</div>

        <div class="text-[16px] tracking-widest poppins mt-2">
          VKRELLS@GMAIL.COM / TEL: 123-456-7890
        </div>

        <div class="h-[1px] bg-[#b7afa0] mx-auto w-[15%] mt-4"></div>

        <div class="text-[13px] poppins mt-8">
          Si tienes alguna pregunta, no dudes en contactarnos.<br /> Estamos siempre
          encantados de ayudarte.
        </div>

        <div
          class="grid sm:grid-cols-2 grid-cols-1 mt-10 poppins text-[14px] text-start gap-4"
        >
          <div>
            <div>Ingresa tu Nombre *</div>
            <div class="w-full border border-[#b7afa0] pl-4 py-1 mt-[4px]">
              Nombre
            </div>
            <div class="mt-[10px]">Ingresa tu Email *</div>
            <div class="w-full border border-[#b7afa0] pl-4 py-1 mt-[4px]">
              Email
            </div>
            <div class="mt-[10px]">Ingresa tu Tema *</div>
            <div class="w-full border border-[#b7afa0] pl-4 py-1 mt-[4px]">
              Tema
            </div>
          </div>

          <div class="flex flex-col">
            <div>Ingresa tu Mensaje *</div>
            <div
              class="w-full border border-[#b7afa0] pl-4 py-1 mt-[4px] flex-1 min-h-[100px]"
            >
              Mensaje
            </div>

            <button
              class="py-[10px] bg-[#64635E] text-center text-white mt-3 text-[13px] leading-none rounded-sm"
            >
              Enviar
            </button>
          </div>
        </div>
      </div>

      <div
        class="absolute bottom-0 w-full h-[50px] bg-[#756f63] flex justify-center items-center text-[12px] text-white poppins"
      >
        <div>©2024 by vKrells. Powered and secured by Astro</div>
      </div>
    </section>
  </main>
</Layout>
